*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html body{
    width: 100vw;
    height: 100vh;
}
.wrapper{
    width: 100%;
    height: 100%;
    background-color: #ededed;
    display: grid;
}
.leftTopLeft{
    background-color: blue;
}
.leftTopRight{
    background-color: purple;
}
.leftCenter{
    background-color: yellow;
}
.leftBottom{
    background-color: red;
}
.right{
    background-color: brown;
}
.arrow{
    background-color: orangered;
}