* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gilroy-lighter";
}
html body {
  width: 100vw;
  height: 100vh;
}
body #main {
  width: 100%;
  height: 100%;
}
#main nav {
  width: 100%;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav #left {
  display: flex;
  gap: 3px;
}
#left .circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: black;
}
nav #right {
  display: flex;
  gap: 40px;
}
#right span {
  color: rgb(154, 149, 149);
  padding: 0 20px;
}
i {
  display: none;
}
#main #nav2 {
  width: 50%;
  padding-top: 20px;
}
#main #center {
  display: flex;
  overflow: auto;
  flex-wrap: nowrap;
}
#center .card {
  height: 200px;
  width: 75%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card h1 {
  font-size: 70px;
  font-weight: 100;
  letter-spacing: 10px;
}
#center::-webkit-scrollbar {
  background-color: transparent;
  height: 6px;
  width: 8px;
}
#center::-webkit-scrollbar-thumb {
  background-color: orange;
}
#main #bottom {
  height: 41%;
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  width: 100%;
}
#bottom img {
  flex-shrink: 0;
  width: 100%;
  object-fit: cover;
  object-position: 100% 20%;
}
#bottom::-webkit-scrollbar {
  background-color: transparent;
}
@media (width: 360px) {
  #main nav {
    padding: 10px;
  }
  #left .circle {
    width: 15px;
    height: 15px;
  }
  nav #right {
    gap: 0;
    align-items: center;
    justify-content: center;
  }
  #right h4 {
    display: none;
  }
  #right #lang {
    display: initial;
    font-size: 12px;
  }
  #right span {
    padding: 0 5px;
  }
  i {
    display: initial;
  }
  #main #nav2 {
    width: 100%;
    padding-top: 10px;
    gap: 2px;
  }
  h5 {
    font-size: 10px;
  }
  .card h1 {
    letter-spacing: normal;
    font-size: 50px;
  }
  #main #bottom {
    height: 60%;
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    width: 100%;
  }
}
