* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans";
}
html body {
  height: 100vh;
  width: 100vw;
}
#main {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 120px 0 0 50px;
}
#main #left {
  width: 45%;
  height: 100%;
  position: relative;
}
#left h1 {
  font-size: 80px;
  font-weight: 500;
  line-height: 90px;
}
#left #color {
  width: fit-content;
  padding: 4px 8px;
  border-radius: 20px;
  display: flex;
  border: 2px solid black;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 58%;
}
#color h4 {
  font-size: 18px;
  font-weight: 600;
  margin-right: 6px;
}
#color #dot1 {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #e0bfb8;
  margin: 2px;
}
#color #dot2 {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #4e342f;
  margin: 2px;
}
h5 {
  font-size: 20px;
  padding: 10px 0;
  position: absolute;
  top: 70%;
}
p {
  width: 80%;
  text-align: justify;
  position: absolute;
  top: 80%;
  font-size: 14px;
  color: rgb(71, 65, 65);
}
#main #right {
  width: 50%;
  height: 100%;
  background-color: yellow;
}
